 body{
        color: orange;
        font-size: 20px;
        font-weight: 800;
        background-color: lightblue;
    }
    h1{
        color: red;
        font-size: 26px;
    }
    .special{
    color: purple;
    font-size: xx-large;
}
.introduction {
    font-family: arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: normal;
    color: #800000;
}
